<div class="textimagen row">
    <h2 class="text-center mt-3">¡Bienvenido/a a tu portal!</h2>
    <div class="col-12 col-lg-5 mt-5 mx-5 px-5">

        <p><strong>¡Bienvenido al curso de nuestra plataforma de cursos online!</strong></p>

        Nos complace darte la más cordial bienvenida a nuestra comunidad educativa en línea.
        <p>Sabemos que la decisión
            de
            inscribirte en un curso es un paso emocionante y significativo hacia el crecimiento personal y profesional,
            y estamos
            encantados de acompañarte en este viaje educativo.</p>

        En nuestra plataforma, te ofrecemos una amplia variedad de cursos diseñados para satisfacer tus necesidades
        y objetivos
        de aprendizaje. Desde habilidades técnicas hasta desarrollo personal, nuestra selección de cursos está
        cuidadosamente
        diseñada para brindarte el conocimiento y las herramientas necesarias para alcanzar tus metas.


        <p>Nuestro equipo de instructores altamente cualificados están comprometidos a proporcionarte una experiencia de
            aprendizaje
            enriquecedora y gratificante. Con contenido de alta calidad, actividades interactivas y soporte
            personalizado, estamos
            aquí para ayudarte en cada paso del camino.</p>

        <p><strong>¡Estamos emocionados de tenerte a bordo y esperamos verte prosperar en tu viaje educativo con
                nosotros!</strong> Si
            tienes alguna
            pregunta o necesitas ayuda, no dudes en ponerte en contacto con nuestro equipo de soporte en cualquier
            momento.</p>


        <h6>Bienvenido nuevamente y <strong>¡feliz aprendizaje!</strong></h6>

    </div>
    <div class="col-12 col-lg-5  mx-3 mt-5">

        <img src="https://img.freepik.com/vector-gratis/ilustracion-concepto-nerd_114360-190.jpg?size=338&ext=jpg&ga=GA1.1.1488620777.1712448000&semt=ais"
            alt="">
    </div>


</div>