
<div class="text row col-12">
    <h2 class="text-center mt-3">Bienvenido/a a tu portal!</h2>
    <div class="col-12 col-lg-5 mx-5 px-5"> 
    

    <p class="mt-3"> Estamos encantados de darte la bienvenida a nuestra plataforma de cursos online. Como profesor, tienes un papel
        fundamental en la formación y el crecimiento de nuestros estudiantes. Tu experiencia y conocimientos
        enriquecerán la
        experiencia de aprendizaje de todos.

        Aquí encontrarás un espacio para compartir tus lecciones, interactuar con los alumnos y fomentar un ambiente de
        aprendizaje colaborativo. No dudes en explorar los recursos disponibles y personalizar tus cursos para que se
        adapten a
        tus objetivos educativos.

        ¡Gracias por unirte a nuestra comunidad educativa! Esperamos que disfrutes enseñando y aprendiendo junto a
        nosotros.

        Si necesitas más ayuda o tienes alguna pregunta, no dudes en ponerte en contacto con nuestro equipo de soporte.
    </p>

      <h4 class="text-center"><strong>¡Buena
        suerte en tu labor docente!</strong></h4>  
    </div>
<div class="col-12 col-lg-5">  
    <img src="https://img.freepik.com/vector-gratis/pequenas-mujeres-que-aprenden-linea-computadora_74855-15548.jpg?t=st=1714035703~exp=1714039303~hmac=959e1f48a5196f83bb0bc2ac548ecdca3db438a6ca05dddd5b5c1e32fb226264&w=826" alt="Responsive image" class="mt-3">
</div>
</div>



