<h2 class="mt-4">Lista de Cursos Disponibles</h2>

<div class="filtros">
    <select (change)="onChange($event)">
        <option value="todas">Todas las Categorias</option>
        <option value="Nombre1">Nombre1</option>
        <option value="Nombre2">Nombre2</option>
        <option value="Nombre3">Nombre3</option>

    </select>
</div>

<hr>

<div class="cursos row ">
    @for (curso of arrCursos; track curso.id) {
    <div class="curso col-lg-3 mt-2">
        <div class="card ">

            <img src="curso.imagen" class="card-img-top" alt="">
            <div class="card-body">
                <img [src]="curso.imagen" alt="" />
                <h5 class="card-title">{{ curso.nombre }}</h5>
                <p class="card-title">Horas: {{ curso.horas }}</p>

                <p class="card-title">Categorias: {{ curso.categoria }}</p>
                <p class="card-title">Contenido: {{ curso.descripcion }}</p>

                <a [routerLink]="['/cursos',curso.id]" class="btn btn-primary mt-3">Ir al Curso</a>
            </div>
        </div>

    </div>
    }
</div>