img {
    display: block;
    height: auto;
    width: 100%;
    margin-bottom: 15px;


}

.card {
    min-height: 400px;
}


section {
    width: 100%;
    height: auto;
}

article {
    width: 100%;
    height: 150px;
}

hr {
    height: 4px;
}