<div class="filtros">
    <select (change)="onChange($event)">
        <option value="nombre1">nombre1</option>
        <option value="nombre2">nombre2</option>
        <option value="nombre3">nombre3</option>

    </select>
</div>


<div class="cursos row ">
    @for (curso of arrCursos; track curso.id) {
    <div class="curso col-3">
        <div class="card ">

            <img src="curso.imagen" class="card-img-top" alt="">
            <div class="card-body">
                <img [src]="curso.imagen" alt="" />
                <h5 class="card-title">{{ curso.nombre }}</h5>
                <p class="card-title">Horas: {{ curso.horas }}</p>

                <p class="card-body">Categorias: {{ curso.categoria }}</p>
                <p class="card-body">Contenido: {{ curso.descripcion }}</p>

                <a href="#" class="btn btn-primary">Ir al Curso</a>
            </div>
        </div>

    </div>
    }
</div>