<div class="filtros">
    <select (change)="onChange($event)">
        <option value="todas">Categorias</option>
        <option value="Nombre1">Nombre1</option>
        <option value="Nombre2">Nombre2</option>
        <option value="Nombre2">Nombre3</option>

    </select>
</div>


<div class="cursos row ">
    @for (curso of arrCursos; track curso.id) {
    <div class="curso col-3">
        <div class="card ">

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzJb_ADSSd_9AjTixBel27LYbRzy0LYfe9UYSSEl9ETQ&s"
                class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">{{ curso.nombre }}</h5>
                <p>Categorias: {{ curso.categoria }}</p>
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas sequi expedita
                    adipisci reiciendis quibusdam vel a, sint doloribus odit libero.</p>
                <a href="#" class="btn btn-primary">Ir al Curso</a>
            </div>
        </div>

    </div>
    }
</div>