.descripcion {
    display: flex;
    flex: wrap;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.texto {
    & .form-control {
        height: 500px;
    }
}

.boton {
    margin-top: 20px;

}



.img {
    width: 100%;
    height: auto;
    display: block;

}