<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            @if (usuario) {
            <div class="usuario">
                <div class="usuario-imagen  mt-5">
                    <img [src]="profesor!.foto" class="rounded-circle" alt="" />
                </div>
                <div class="contenido">
                    <hr class="linea">
                    <h2>{{ usuario.nombre }} {{ usuario.apellidos }}</h2>
                    <p><strong>Username:</strong> {{ usuario.username }}</p>
                    <p><strong>Email:</strong> {{ usuario.email }}</p>
                    <p><strong>Rol:</strong> {{ usuario.rol }}</p>
                    <p><strong>Fecha Nacimiento:</strong> {{ usuario.fecha_nacimiento|date:'dd-MM-yyyy'
                        }}</p>
                    <p><strong>Telefono:</strong> {{ usuario.telefono }}</p>
                    <p><strong>Genero:</strong> {{ usuario.genero }}</p>
                    <p><strong>Experiencia:</strong> {{profesor!.experiencia}}</p>
                    <p><strong>Especialidad:</strong> {{profesor!.especialidad}}</p>
                    <p><strong>Descripcion_experiencia:</strong> {{profesor!.descripcion_experiencia}}</p>
                    <button (click)="editarUsuario()"
                        class="btn btn-success border border-success col-12 col-lg-2">Editar</button>
                </div>

            </div>
            }

        </div>
    </div>
</div>