<form [formGroup]="Formulario" (ngSubmit)="onSubmit()">

    <h3 class="text-center text-success mt-4">Crea tu Pregunta</h3>
    <div class="descripcion text-success ">
        <div class="mb-3 mt-5">
            <h5>Introduce el nombre de la pregunta</h5>
            <label for="exampleFormControlTextarea1"></label>
            <textarea class=" nombre form-control" id="exampleFormControlTextarea1" rows="3"
                formControlName="titulo"></textarea>
        </div>
        <div class="mb-3 mt-5">
            <h5>Introduce el enunciado de la pregunta</h5>
            <label for="exampleFormControlTextarea1"></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                formControlName="enunciado"></textarea>
        </div>
        <h5>Introduce las diferentes opciones</h5>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked formControlName="respuesta_correcta">
            <label class="form-check-label" for="exampleRadios1">
                Respuesta 1
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked formControlName="respuesta_incorrecta1">
            <label class="form-check-label" for="exampleRadios1">
                Respuesta 2
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked formControlName="respuesta_incorrecta2">
            <label class="form-check-label" for="exampleRadios1">
                Respuesta 3
            </label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
                checked formControlName="respuesta_incorrecta3">
            <label class="form-check-label" for="exampleRadios1">
                Respuesta 4
            </label>
        </div>



        <div class="boton mx-4">
            <input type="submit" value="Enviar Pregunta" class="btn btn-light border border-success col-12 col-lg-2" />
        </div>
    </div>
</form>