@if (curso[0]) {

<div class="curso">
    <div clase="imagen">

        <img [src]="curso[0].Imagen" class="img-fluid rounded mx-auto d-block mt-4" alt="Responsive image">
    </div>
    <h2 class="mt-4 text-left">{{ curso[0].nombre }}</h2>
    <h5 class="mt-4 mb-1">Horas de Duración:</h5>
    <p>Tiempo estimado de realización {{ curso[0].horas }}h</p>
    <h5 class="mt-4 mb-1">Descripción del curso: </h5>
    <p>{{ curso[0].descripcion }}</p>
    <h5 class="mt-4 mb-1">Contenido del curso </h5>
    <p class="contenido">{{ curso[0].contenido }}</p>
    <button (click)="addCurso()" class="btn btn-light border border-success col-12 col-lg-2">Añadir</button>
    <button (click)="goToLecciones()" class="btn btn-light border border-success col-12 col-lg-2">Ver el curso</button>
    <button (click)="addLeccion()" class="btn btn-light border border-success col-12 col-lg-2">Añadir lecciones</button>


</div>
}@else {
<p>El curso NO EXISTE</p>
}