.imagen {
    width: 300px;
    height: 200px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenido {
    text-align: justify;
}

h2 {
    color: rgba(68, 124, 84);
}

.botonesAlumno {
    display: flex;
    justify-content: space-between;
}