<h2 class="mt-4 text-success">Tu Examen</h2>

<div class="filtros ">
    <select (change)="onChange($event)" class="rounded col-12 col-lg-4 border border-success">
        <option value="todas">Todas las preguntas</option>
        <option value="Pregunta 1">Pregunta 1</option>
        <option value="Pregunta 2">Pregunta 2</option>
        <option value="Pregunta 3">Pregunta 3</option>

    </select>
</div>

<hr>

<div>
    @for (pregunta of arrPreguntas; track pregunta.id) {
    <div class="pregunta col-12 mt-2 ">

        <h4 class="mt-5 text-center">Enunciado pregunta {{ pregunta.id }}</h4>
        <hr class="col 6 text-success  col-6">
        <h5 class="mt-4">{{ pregunta.enunciado }}</h5>

        <div  class="mt-4 border border-success rounded p-3">
        <form action="">
             @for (preguntasMix of mezclar(pregunta); track $index){
            <!-- <p (click)="selectRespuesta(pregunta, preguntasMix.correcta)">Opcion {{$index + 1 }}: {{ preguntasMix.texto}}</p> -->
            <!-- <p>Opcion 2: {{ pregunta.respuesta_incorrecta1 }}</p>
            <p>Opcion 3: {{ pregunta.respuesta_incorrecta2 }}</p>
            <p>Opcion 4: {{ pregunta.respuesta_incorrecta3 }}</p> -->
            <div class="form-check">
            <input  class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1 "
                checked formControlName="respuesta_correcta">
            <label class="form-check-label" (click)="selectRespuesta(pregunta, preguntasMix.correcta)" for="exampleRadios1">
                {{preguntasMix.texto}}
            </label>
            
        </div>
             }
            </form>
        </div>


    </div>


    }
    <button (click)="goToPreguntas()" class="btn btn-light border border-success col-12 col-lg-2">Nueva Pregunta</button>
</div>