<h2 class="mt-4 text-success">Tu Examen</h2>

<div class="filtros ">
    <select (change)="onChange($event)" class="rounded col-12 col-lg-4 border border-success">
        <option value="todas">Todas las preguntas</option>
        <option value="Pregunta 1">Pregunta 1</option>
        <option value="Pregunta 2">Pregunta 2</option>
        <option value="Pregunta 3">Pregunta 3</option>

    </select>
</div>

<hr>

<div>
    <form action="" (submit)="onSubmit()">
        @for (pregunta of arrPreguntasMezcladas; track pregunta.id) {
        <div class="pregunta col-12 mt-2 ">

            <h4 class="mt-5 text-center">Enunciado pregunta {{ pregunta.id }}</h4>
            <hr class="col 6 text-success  col-6">
            <h5 class="mt-4">{{ pregunta.enunciado }}</h5>

            <div class="mt-4 border border-success rounded p-3">

                @for(respuesta of pregunta.respuestas; track $index){
                <div class="form-check" name="exampleRadios" id="exampleRadios1">
                    <input class="form-check-input" type="radio" (click)="selectRespuesta(pregunta, respuesta.correcta)"
                        name="flexRadioDefault" id="flexRadioDefault{{$index}}">
                    <label class="form-check-label" for="flexRadioDefault{{$index}}">
                        {{respuesta.texto}}
                    </label>
                </div>
                }
            </div>

        </div>


        }
        <input type="submit" class="btn" value="Terminar">
    </form>
    <button (click)="goToPreguntas()" class="btn btn-light border border-success col-12 col-lg-2">Nueva
        Pregunta</button>
</div>