<h2 class="mt-4 text-success">Tu Examen</h2>



<hr>

<div>
    @for (pregunta of arrPreguntasMezcladas; track $index) {
    <div class="pregunta col-12 mt-2 ">

        <h4 class="mt-5 text-center">{{ $index +1 }}</h4>
        <hr class="col 6 text-success  col-6">
        <h5 class="mt-4">{{ pregunta.enunciado }}</h5>

        <div class="mt-4 caja border border-3 border-success rounded p-3">
            <form [formGroup]="formulario" (ngSubmit)="onSubmit() ">
                @for(respuesta of pregunta.respuestas; track $index){
                <div class="form-check" name="exampleRadios" id="exampleRadios1">
                    <input class="form-check-input" type="radio" (click)="selectRespuesta(pregunta, respuesta.correcta)"
                        name="flexRadioDefault" id="flexRadioDefault{{$index}}">
                    <label class="form-check-label" for="flexRadioDefault{{$index}}">
                        {{respuesta.texto}}
                    </label>
                </div>
                }
                @if(!mostrar){
                <div class="boton1">
                    <input type="submit" class="btn btn-success boton1" value="Guardar Respuesta"
                        (click)="onClickBoton($index)" [disabled]="botonesDeshabilitados[$index]">
                </div>
                }


            </form>
        </div>
        @if(mostrar){
        <div class="botones">
            <input class="btn btn-danger boton2" (click)="borrarPregunta(pregunta.id)" value="Borrar Pregunta 🗑️">
            <input class="btn btn-warning boton3" (click)="editarPregunta(pregunta.id)" value="Editar Pregunta 🔧">
        </div>

        }
    </div>


    }
    @if(!mostrar){
    <div class="terminado">
        <input (click)="terminarExamen()" class="btn btn-success" value="Terminar">

    </div>

    }
    @if(mostrar){
    <div class="preguntas">
        <button (click)="goToPreguntas()" class="btn boton4 btn-success border border-success col-12 col-lg-2">Nueva
            Pregunta</button>
    </div>
    }

</div>