<div class="container">
    @if (temario) {

    <button class="btn btn-success border border-success d-grid gap-2 col-12 col-lg-6 mx-auto" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Menú del Curso
    </button>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title " id="offcanvasExampleLabel">Menú</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">



            <div class="list-group mt-4">
                <a href="" class="list-group-item list-group-item-action list-group-item-light">Volver a mi Perfil</a>
                @for(tema of arrTemas; track $index){
                <a href="" [routerLink]="'/leccion/' + tema.id"
                    class="list-group-item list-group-item-action list-group-item-light">{{$index}} - {{tema.tema}}</a>
                }
                <a href="" [routerLink]="'/examen/' + temario[0].curso_id"
                    class="list-group-item list-group-item-action list-group-item-light">Examen Final</a>
            </div>

        </div>
    </div>
    <div class="curso">
        <h2 class="mt-4 text-center">{{ temario[0].tema }}</h2>
        @if(temario[0].video.includes('https://www.youtube.com/')){
        <div clase="imagen">
            <div class="ratio ratio-16x9 mb-4">
                <iframe [src]="urlSafe" width="300" height="200" frameborder="0"></iframe>
            </div>
        </div>
        }@else{
        <div clase="imagen">

            <h3>Video no disponible</h3>

        </div>
        }


        <h4 class="mt-4 mb-4">Contenido de la Lección</h4>
        <p>{{ temario[0].texto }}</p>
        <img [src]="temario[0].imagen" class="img-fluid rounded mx-auto d-block mt-4 mb-4" alt="Responsive image">

        <button (click)="addLeccion()" class="btn btn-light border border-success col-12 col-lg-2">Añadir
            lecciones</button>

        <nav aria-label="text-success mt-4">
            <ul class="pagination justify-content-center">
                <!-- <li class="page-item "><a class="page-link" href="#">Anterior</a></li> -->
                @for(tema of arrTemas; track $index){
                <li class="page-item"><a class="page-link" [routerLink]="'/leccion/'+tema.id" href="#">{{$index +
                        1}}</a></li>
                }
                <!-- <li class="page-item"><a class="page-link" href="#">Siguiente</a></li> -->
            </ul>
        </nav>
    </div>
    }@else {
    <p>El curso NO EXISTE</p>
    }

</div>