<div class="container">
    @if (temario) {

    <button class="btn btn-success border border-success d-grid gap-2 col-12 col-lg-6 mx-auto" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        Menú del Curso
    </button>


    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title " id="offcanvasExampleLabel">Menú</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">



            <div class="list-group mt-4">
                <a [routerLink]="'/usuarios/alumno/card'"
                    class="list-group-item list-group-item-action list-group-item-success">Volver a mi Perfil</a>
                @for(tema of arrTemas; track $index){

                @if(progreso >= ((100 / arrTemas.length) * ($index))){ <input
                    [routerLink]="'/leccion/' + tema.id + '/' + ($index + 1)"
                    class="list-group-item list-group-item-action list-group-item-success"
                    [value]="($index + 1) +' - '+ tema.tema">
                }@else {
                <input [routerLink]="'/leccion/' + tema.id + '/' + ($index + 1)"
                    class="list-group-item list-group-item-action list-group-item-danger"
                    [value]="($index + 1) +' - '+ tema.tema" [disabled]="true">
                }


                }
                @if(!examenHabilitado){
                <input [routerLink]="'/examen/' +  temario[0].curso_id" [disabled]="true"
                    class="list-group-item list-group-item-action list-group-item-danger" value="Examen Final">
                }@else {
                <input [routerLink]="'/examen/' +  temario[0].curso_id" [disabled]="false"
                    class="list-group-item list-group-item-action list-group-item-success" value="Examen Final">
                }

            </div>

        </div>
    </div>
    <div class="curso">
        <h2 class="mt-4 text-center">{{ temario[0].tema }}</h2>
        @if(temario[0].video.includes('https://www.youtube.com/')){
        <div clase="imagen">
            <div class="ratio ratio-16x9 mb-4">
                <iframe [src]="urlSafe" width="300" height="200" frameborder="0"></iframe>
            </div>
        </div>
        }@else{
        <div clase="imagen">

            <h3>Video no disponible</h3>

        </div>
        }


        <h4 class="mt-4 mb-4">Contenido de la Lección</h4>
        <p>{{ temario[0].texto }}</p>
        <img [src]="temario[0].imagen" class="img-fluid rounded mx-auto d-block mt-4 mb-4" alt="Responsive image">

        <button (click)="addLeccion()" class="btn btn-light border border-success col-12 col-lg-2">Añadir
            lecciones</button>
        <button (click)="completarLeccion()" class="btn btn-info">Completar leccion</button>


        <input class="btn btn-danger" value="Borrar Leccion" (click)="borrarLeccion()">
        <input class="btn btn-warning" value="Editar Leccions" (click)="editarLeccion()">
    </div>
    }@else {
    <p>El curso NO EXISTE</p>
    }

</div>