<h2>Cursos Completados</h2>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @for(curso of cursosCompletados; track $index){
    <div class="col">
        <div class="card h-100 border border-5 border-success rounded-4">
            <img [src]="curso.Imagen" class="card-img-top rounded-top rounded-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{curso.nombre}} 🏆</h5>
                <p class="card-text">Nota: {{curso.nota}}</p>
            </div>
        </div>
    </div>


    }
</div>