<div class="container ">
    <h1 class="text-warning text-center" [routerLink]="['/home']" routerLinkActive="activo"
        [routerLinkActiveOptions]="{ exact: true }">Cursos Online</h1>



    <hr class="text-warning">
    <nav>
        <ul>
            <li class="btn btn-outline-dark mt-3 p-2 col-lg-3" [routerLink]="['/cursos']" routerLinkActive="activo"
                [routerLinkActiveOptions]="{ exact: true }">
                Lista de Cursos
            </li>
            <li class="btn btn-outline-dark mt-3 p-2 col-lg-3" [routerLink]="['/cursos', 'nuevo']"
                routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
                Nuevo Curso
            </li>
            <li class="btn btn-outline-dark mt-3 p-2 col-lg-3" [routerLink]="['/usuarios', 'nuevo']"
                routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
                Nuevo Usuario
            </li>
            <li class="btn btn-outline-dark mt-3 p-2 col-lg-3" [routerLink]="['/usuarios', 'login']"
                routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">
                Login
            </li>
        </ul>
    </nav>

    <router-outlet></router-outlet>

</div>


<footer class="footer">
  
<div class="text-white bg-black p-2 mt-4 text-center">
    <div class="row">
        <div class="col-3">
            Copyigth ©
        </div>
        <div class="col-3">
            Aviso Legal
        </div>
        <div class="col-3">
            Contacto
        </div>
        <div class="col-3">
            Política de Cookies
        </div>
    </div>
</div>
</footer>