<div class="container ">



    <section class="row just justify-content-center ">
        <div class="col-3" [routerLink]="['/home']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">
            <img class="logo mx-lg-2"
                src="https://trello.com/1/cards/661924093f54d924ae84872c/attachments/661d44bf0fcbdba13294e36c/previews/661d44c00fcbdba13294e3bb/download/logo_pequar_horizontal.jpg"
                width="120" height="70" alt="">
        </div>
        <div class="col-12 col-lg-4">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
        <div class="col-12 col-lg-5 ">
            @if(!usuariosService.isLogged()){
            <button type="button" class="btn btn-light col-12 col-lg-3" [routerLink]="['/usuarios', 'nuevo']"
                routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Registrate</button>
            <button type="button" class="btn btn-light mx-lg-1 col-12 col-lg-3" [routerLink]="['/usuarios', 'login']"
                routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Login</button>
            }@else{
            <button (click)="miportal()" type="button" class="btn btn-light col-12 col-lg-3">Mi Portal</button>
            }
        </div>
    </section>


    @if(show){
    <header class="bg-success text-white mt-1">
        <ul class="enlaces list-group list-group-horizontal justify-content-center ">
            <li class="mx-3 pt-2"><a [routerLink]="['/cursos']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Lista de Cursos</a></li>
            <li class="mx-3 pt-2"><a [routerLink]="['/nosotros']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Conócenos</a> </li>
            <li class="mx-3 pt-2"><a [routerLink]="['/faq']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Preguntas Frecuentes</a> </li>
            <li class="mx-3 pt-2"><a [routerLink]="['/home']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Home</a> </li>


        </ul>
    </header>
    }


    <router-outlet></router-outlet>

</div>




<footer class="footer">
    <section class="container">
        <div class="text-white bg-black p-2 mt-4 text-center">
            <div class="row">
                <div class="col-3">
                    Copyrigth ©
                </div>
                <div class="col-3">
                    Aviso Legal
                </div>
                <div class="col-3">
                    Contacto
                </div>
                <div class="col-3">
                    Política de Cookies
                </div>
            </div>
        </div>
    </section>
</footer>