<div class="container ">



    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-center bg-white mb-1">
        <div class="navbar-brand" [routerLink]="['/home']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">
            <img class="logo"
                src="https://trello.com/1/cards/661924093f54d924ae84872c/attachments/661d44bf0fcbdba13294e36c/previews/661d44c00fcbdba13294e3bb/download/logo_pequar_horizontal.jpg"
                width="120" height="70" alt="">
        </div>
        <div class="row mx-5 col-lg-6">
            <form class=" my-2 col-8">
                <input class="form-control" type="search" aria-label="Search">

            </form>
            <button class="btn  col-2" type="submit">Buscar</button>
        </div>
        <ul class="navbar-nav mt-2">
            <li class=" nav-item active">
                <div class="registrar nav-link" [routerLink]="['/usuarios', 'nuevo']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">
                    Registrate
                </div>
            </li>
            <li class="nav-item active">
                <div class="login nav-link" [routerLink]="['/usuarios', 'login']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Login </div>
            </li>
            <button (click)="miportal()" class="btn btn-light border border-success col-12 col-lg-2">Mi portal</button>


        </ul>

    </nav>

    @if(show){
    <header class="bg-success text-white mt-1">
        <ul class="enlaces list-group list-group-horizontal justify-content-center ">
            <li class="mx-3 pt-2"><a [routerLink]="['/cursos']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Lista de Cursos</a></li>
            <li class="mx-3 pt-2"><a [routerLink]="['/usuarios', 'nuevo']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Nuevo Usuario</a> </li>
            <li class="mx-3 pt-2"><a [routerLink]="['/curso', 'nuevo']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Nuevo Curso</a> </li>
            <li class="mx-3 pt-2"><a [routerLink]="['/usuarios', 'login']" routerLinkActive="activo"
                    [routerLinkActiveOptions]="{ exact: true }">Login</a> </li>


        </ul>
    </header>
    }


    <router-outlet></router-outlet>

</div>





<footer class="footer">
    <section class="container">
        <div class="text-white bg-black p-2 mt-4 text-center">
            <div class="row">
                <div class="col-3">
                    Copyrigth ©
                </div>
                <div class="col-3">
                    Aviso Legal
                </div>
                <div class="col-3">
                    Contacto
                </div>
                <div class="col-3">
                    Política de Cookies
                </div>
            </div>
        </div>
    </section>
</footer>