<div class="cursos row ">

    @for (curso of arrCursosProfesor; track curso.id) {

    <div class="curso col-lg-3 mt-2 ">

        <div class="card rounded">

            <img [src]="curso.Imagen" class="card-img-top" alt="">

            <div class="card-body">



                <h5 class="card-title">{{ curso.nombre }}</h5>

                <p class="card-title">Horas: {{ curso.horas }}</p>

                <p class="card-title">Categorias: {{ curso.categoria }}</p>

                <p class="card-title">Contenido: {{ curso.descripcion }}</p>

                <a [routerLink]="['/cursos',curso.id]" class="btn btn-success mt-3">Ir al Curso</a>

            </div>

        </div>

    </div>

    }

</div>