<h1 class="mt-5 text-center text-success"><strong>¡Preguntas, preguntas y más preguntas!</strong></h1>

<div>
    <h5 class="mt-5">
        ¡Hey, explorador digital! ¿Te has preguntado alguna vez si somos como ese amigo que siempre tiene respuestas a
        todo?
        ¡Pues estás en el lugar correcto! Bienvenido a nuestra sección de preguntas frecuentes, donde desentrañamos los
        misterios del universo digital de la manera más divertida posible.</h5>
</div>
<div class="dropdown-center mt-5">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Qué demonios es una FAQ?
    </button>
    <ul class="dropdown-menu">
        <li>¡Buena pregunta! FAQ viene del inglés "Frequently Asked Questions", que básicamente significa "Preguntas
            Frecuentes". Son como pequeñas cápsulas de sabiduría donde respondemos las dudas más comunes que podrías
            tener. Piénsalo como nuestro mapa estelar para navegar por este viaje digital juntos.</li>

    </ul>
</div>
<div class="dropdown-center mt-2">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Por qué debería molestarme en leer esto?
    </button>
    <ul class="dropdown-menu">
        <li>¡Porque aquí es donde reside la magia! Desde cómo inscribirte en nuestros cursos hasta qué hacer si tu gato
            camina sobre tu teclado mientras estás en clase (sí, ha pasado), aquí encontrarás respuestas a todo. Además,
            es mucho más divertido que leer el manual de instrucciones de tu microondas.</li>

    </ul>
</div>

<div class="dropdown-center mt-2">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Puedo hacer preguntas estúpidas?
    </button>
    <ul class="dropdown-menu">
        <li>¡Claro que sí! Bueno, tal vez no estúpidas, pero cualquier pregunta es bienvenida aquí. Desde las más
            básicas hasta las más extravagantes, estamos aquí para ayudarte a despejar tus dudas cósmicas sobre todo lo
            relacionado con nuestros cursos y la vida digital.</li>

    </ul>
</div>

<div class="dropdown-center mt-2">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Y si mi pregunta no está aquí?
    </button>
    <ul class="dropdown-menu">
        <li>¡No te preocupes! Si no encuentras lo que buscas, siempre puedes enviarnos un mensaje a través de nuestro
            sistema de soporte galáctico. Estamos aquí para ayudarte a resolver cualquier enigma digital que se cruce en
            tu camino.</li>

    </ul>
</div>
<div class="text-center mt-5">
    <img src="https://img.freepik.com/vector-premium/concepto-preguntas-respuestas-o-preguntas-frecuentes-busqueda-soluciones-informacion-util_194360-309.jpg"
        class="img-fluid" alt="Responsive image">
</div>
<div class="col 6 text-center mt-5">

    <button type="button" class="btn btn-light border border-success col-12 col-lg-2" [routerLink]="['/home']"
        routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Volver al Menú Principal</button>
</div>