<h1 class="mt-5 text-center text-success"><strong>¡Preguntas, preguntas y más preguntas!</strong></h1>

<div>
    <h5 class="mt-5">
        ¡Hey, explorador digital! ¿Te has preguntado alguna vez si somos como ese amigo que siempre tiene respuestas a
        todo?
        ¡Pues estás en el lugar correcto! Bienvenido a nuestra sección de preguntas frecuentes, donde desentrañamos los
        misterios del universo digital de la manera más divertida posible.</h5>
</div>
<div class="dropdown-center mt-5">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Qué demonios es una FAQ?
    </button>
    <ul class="dropdown-menu">
        <li>Las FAQ, o Preguntas Frecuentes, son como faros en la noche digital, guiándote a través de las aguas
            turbulentas del conocimiento. Son como un mapa estelar que te muestra los puntos clave de nuestra plataforma
            y cómo navegar por ellos. Imagínalas como un manual de usuario, lleno de respuestas a las preguntas más
            comunes que puedas tener sobre nuestros cursos y cómo sacarles el máximo provecho. Desde detalles sobre cómo
            inscribirte en un curso hasta consejos sobre cómo resolver problemas técnicos, las FAQ están aquí para
            iluminar tu camino y ayudarte a navegar por el vasto universo de CodeVerse. Así que, la próxima vez que te
            encuentres con una pregunta ardiente, ¡echa un vistazo a nuestras FAQ y encuentra la respuesta que necesitas
            para seguir explorando con confianza en este viaje digital!</li>

    </ul>
</div>
<div class="dropdown-center mt-2">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Por qué debería molestarme en leer esto?
    </button>
    <ul class="dropdown-menu">
        <li>¿Por qué no deberías? ¡Aquí es donde reside la magia y la diversión! Las FAQ son como la caja de
            herramientas de un ingeniero espacial, llena de soluciones ingeniosas para tus problemas digitales. Desde
            aprender cómo inscribirte en nuestros cursos hasta descubrir qué hacer si tu gato decide convertirse en un
            asistente de teclado durante una clase (sí, ha pasado), las FAQ son tu guía para sacar el máximo provecho de
            tu experiencia digital con nosotros. Además, admitámoslo, ¡es mucho más emocionante que leer el manual de
            instrucciones de tu microondas! Así que, toma un poco de café (o tu bebida energética favorita) y sumérgete
            en el mundo de las FAQ. Estamos seguros de que encontrarás algunas gemas ocultas que te harán sonreír y te
            ayudarán a aprovechar al máximo tu tiempo con nosotros.</li>

    </ul>
</div>

<div class="dropdown-center mt-2">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Puedo hacer preguntas estúpidas?
    </button>
    <ul class="dropdown-menu">
        <li>¡Claro que sí! Bueno, tal vez no "estúpidas", pero cualquier pregunta, desde las más básicas hasta las más
            extravagantes, es más que bienvenida aquí. Después de todo, la curiosidad es la chispa que enciende el motor
            de la innovación. Así que no tengas miedo de lanzar tus preguntas al cosmos digital. Estamos aquí para
            ayudarte a resolver cualquier duda que pueda surgirte en tu viaje digital. Y quién sabe, ¡quizás incluso te
            sorprendas con las respuestas que recibes! Así que adelante, ¡dispara tus preguntas! Estamos listos para
            responderlas con una sonrisa y un toque de humor para hacer que tu experiencia sea aún más divertida y
            enriquecedora.</li>

    </ul>
</div>

<div class="dropdown-center mt-2">
    <button class="btn btn-secondary dropdown-toggle col-12" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ¿Y si mi pregunta no está aquí?
    </button>
    <ul class="dropdown-menu">
        <li>No te preocupes, amigo digital. Si no encuentras la respuesta que buscas, siempre puedes enviarnos un
            mensaje a través de nuestro sistema de soporte galáctico. Nuestro equipo de expertos está aquí para ayudarte
            a despejar cualquier duda que tengas sobre nuestros cursos, la vida digital o cualquier otra cosa que te
            inquiete. Estamos aquí para ti las 24 horas del día, los 7 días de la semana. Así que no dudes en
            contactarnos. ¡Estamos deseando ayudarte a desatar tu potencial digital y hacer que tu experiencia con
            nosotros sea lo más increíble posible!</li>

    </ul>
</div>
<div class="text-center mt-5">
    <img src="https://img.freepik.com/vector-premium/concepto-preguntas-respuestas-o-preguntas-frecuentes-busqueda-soluciones-informacion-util_194360-309.jpg"
        class="img-fluid" alt="Responsive image">
</div>
<div class="col 6 text-center mt-5">

    <button type="button" class="btn btn-light border border-success col-12 col-lg-2" [routerLink]="['/home']"
        routerLinkActive="activo" [routerLinkActiveOptions]="{ exact: true }">Volver al Menú Principal</button>
</div>