<nav>
    <ul class="botones text-center">
        <header class="bg-success text-white mt-1"> 
            <ul class="enlaces list-group list-group-horizontal justify-content-center "> 

        <li class="mx-3 pt-2"
            [routerLink]="['/usuarios/profesor/cusosprofesor']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">
            Mis Cursos
        </li>
        <li class="mx-3 pt-2"
            [routerLink]="['/usuarios/profesor/listacursos']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">
            Lista Cursos
        </li>
        <li class="mx-3 pt-2"
            [routerLink]="['/usuarios/profesor/nuevocursoprofesor']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">
            Nuevo Curso
        </li>
        <li class="mx-3 pt-2"
            [routerLink]="['/usuarios','profesor', 'card']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">
            Perfil
        </li>
        <li (click)="onClickLogout()" class="mx-3 pt-2"
            [routerLink]="['/home']" routerLinkActive="activo"
            [routerLinkActiveOptions]="{ exact: true }">Logout</li>

    </ul>
    </header>
    </ul>
 
</nav>

<router-outlet></router-outlet>